<div class="first-place-container">
  <div class="first-place-player first-place-plate--drop-in-animation" id="first-place-player">
    <div class="first-place-player__rank">1st</div>
    <div class="first-place-player__name"></div>
  </div>
</div>
