<tr>
  <td><%= player.id %></td>
  <td><%= player.player_profile&.full_name %></td>
  <td class="has-text-right"><%= player.approximation_quiz_answer&.answer1 %></td>
  <td class="has-text-right"><%= player.approximation_quiz_answer&.answer2 %></td>
</tr>
