<%# locals: () %>
<div class="px-5 pt-4">
  <label class="switch is-rounded">
    <input type="checkbox" data-match-buzzer-target="switch">
    <span class="check is-success"></span>
    <span class="control-label">早押し機連動（操作補助）</span>
  </label>
</div>
