<%# locals: (match:) %>
<div class="mt-2 mb-2 has-text-right">
  <%= link_to "自由編集", edit_admin_match_score_free_edit_path(match_id: match.id), class: "is-size-6 has-text-grey is-underlined", data: { turbo_frame: "_top" } %>
</div>
