<%# locals: (champion_name:) %>
<div class="final-champion">
  <p class="final-champion__tournament">第2回やまぶき杯</p>
  <p class="final-champion__title">CHAMPION</p>
  <p class="final-champion__name"><%= champion_name %></p>
</div>
