<section class="section">
  <div class="container is-max-tablet">
    <h1 class="title is-3">公開エントリーリスト</h1>

    <% if @entries.any? %>
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th class="has-text-centered">No.</th>
            <th class="has-text-centered">優先順位</th>
            <th>エントリーリストの名前</th>
          </tr>
        </thead>
        <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td class="has-text-centered"><%= entry.id %></td>
              <td class="has-text-centered"><%= entry.priority || "抽選待ち" %></td>
              <td><%= entry.player.player_profile&.entry_list_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>現在、表示できるエントリーはありません。</p>
    <% end %>
  </div>
</section>
