<div class="container">
  <section class="section">
    <h1 class="title is-2">得点表示操作</h1>
    <div class="box">
      <h2 class="title is-4">ペーパートップ</h2>
      <div class="buttons">
        <%= button_to "ペーパートップ表示",
              admin_scoreboard_manipulations_path(action_name: "paper_top_init"),
              method: :post,
              class: "button is-primary" %>
      </div>
    </div>
    <div class="mt-5">
      <%= link_to "戻る", "/", class: "button is-light" %>
    </div>
  </section>
</div>
