/* Noto Sans Japanese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}
