<%# locals: (scores:) %>
<div class="columns-2">
  <div id="round2-match-scorelist" class="round2-match-scorelist">
    <%= render partial: "scoreboard/round2/show", locals: { scores: } %>
  </div>
  <div id="question"></div>
</div>
