<%# locals: (scores:) %>
<div class="columns-2">
  <div id="match-scorelist" class="match-scorelist-column2">
    <%= render partial: "scoreboard/round2/show", locals: { scores: } %>
  </div>
  <div id="question"></div>
</div>
