<%# locals: (scores:, score_operation:) %>
<div class="columns-2">
  <div id="match-scorelist" class="match-scorelist-column2-row5">
    <%= render partial: "scoreboard/playoff/show", locals: { scores:, score_operation: } %>
  </div>
  <div id="question"></div>
</div>
