<section class="section">
  <div class="container is-max-tablet">
    <h1 class="title is-1">エントリー完了</h1>
    <div class="block">
      <p>エントリーが完了しました。</p>
      <p>続いて、3Rコース選択希望を入力してください。</p>
      <p>コース選択希望は、後からでも変更可能です。</p>
    </div>
    <div class="block">
      <%= link_to "3Rコース選択希望を入力する", home_round3_course_preference_path, class: "button is-primary is-fullwidth" %>
    </div>
  </div>
</section>
