<%# locals: (f:) %>
<div class="auth-field auth-field--checkbox">
  <span class="auth-label">当日のお手伝い</span>
  <label class="auth-checkbox-label">
    <%= f.check_box :is_playing_staff_candidate,
          class: "auth-checkbox",
          data: { entry_form_target: "formElement eventDayHelp" } %>
    <span>当日のお手伝いを依頼してもよい</span>
  </label>
  <p class="auth-help">この大会では、当日の進行の一部で参加者の方にお手伝いをお願いしたいと考えています。お願いする仕事は、主に「2Rにおけるホワイトボードでの得点付け」を予定しています。お手伝いを依頼してもよいという方はチェックしてください。</p>
  <p class="auth-help">組分けの都合上、2Rの組分け発表後に担当いただく方を決め、お願いをする予定です。必ずしもチェックを入れた方全員にお願いするとは限らないことをご了承ください。</p>
</div>
