<div class="container">
  <%= turbo_frame_tag 'match' do %>
    <div class="is-flex is-justify-content-space-between is-align-items-flex-end">
      <h1 class="title mb-0"><%= @match.name %></h1>
      <p><%= @match.progress_summary %></p>
    </div>
    <div class="table-container">
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th class="has-text-centered">ステータス</th>
            <th style="width: 8em">氏名</th>
            <th class="has-text-centered">得点</th>
            <th class="has-text-centered">誤答数</th>
          </tr>
        </thead>
        <tbody>
          <% @matchings.each do |matching| %>
            <%= render "matching", matching: %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
