<%# locals: (question:) %>
<div class="box has-background-success-light">
  <h2 class="subtitle"><%= question.id %></h2>
  <p><%= question.text %></p>
  <p class="mt-4 is-size-4 has-text-weight-bold"><%= question.answer %></p>
  <p><%= question.another_answer %></p>
</div>
