<%# locals: (question:) %>
<div class="box has-background-success-light">
  <h2 class="subtitle"><%= question.id %></h2>
  <p><%= question.text %></p>
  <p class="mt-4 is-size-4 has-text-weight-bold"><%= question.answer %></p>
  <p><%= question.another_answer %></p>
  <p class="has-text-right">
    <span data-quiz-reader-target="duration"></span>
    <span class="icon is-hidden" data-quiz-reader-target="voiceLoadingStatusIcon voiceLoadingIcon"><i class="fa-solid fa-file-arrow-down fa-flip"></i></span>
    <span class="icon is-hidden" data-quiz-reader-target="voiceLoadingStatusIcon voiceLoadedIcon"><i class="fa-solid fa-file-arrow-down"></i></span>
    <span class="icon" data-quiz-reader-target="playStatusIcon stopIcon"><i class="fa-solid fa-stop"></i></span>
    <span class="icon is-hidden" data-quiz-reader-target="playStatusIcon playIcon"><i class="fa-solid fa-play"></i></span>
    <span class="icon is-hidden" data-quiz-reader-target="playStatusIcon pauseIcon"><i class="fa-solid fa-pause"></i></span>
    <span class="icon is-hidden" data-quiz-reader-target="resultUploadingStatusIcon resultUploadingIcon"><i class="fa-solid fa-cloud-arrow-up fa-flip"></i></span>
    <span class="icon is-hidden" data-quiz-reader-target="resultUploadingStatusIcon resultUploadedIcon"><i class="fa-solid fa-cloud-arrow-up"></i></span>
  </p>
</div>
