<div class="container" data-controller="quiz-reader"
  data-action="
  keydown.space@document->quiz-reader#startReading:prevent
  keyup.space@document->quiz-reader#pauseReading:prevent
  keydown.right@document->quiz-reader#proceedToNextQuestion:prevent
  ">
  <h1 class="title">Quiz Reader</h1>
  <div class="field">
    <label class="switch is-rounded">
      <input type="checkbox" data-quiz-reader-target="isOnAir" data-action="change->quiz-reader#updateOnAirLabel" checked>
      <span class="check is-danger"></span>
      <span class="control-label" data-quiz-reader-target="onAirLabel">問い読みON</span>
    </label>
  </div>
  <div class="columns">
    <div class="column is-7">
      <h2 class="title is-4">Next</h2>
      <div id="next_questions">
        <% if @next_question %>
          <%= render partial: "admin/quiz_reader/next_question/next_question", locals: { question: @next_question } %>
        <% end %>
        <% if @next2_question %>
          <%= render partial: "admin/quiz_reader/next_question/next2_question", locals: { question: @next2_question } %>
        <% end %>
      </div>
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>...</span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <button class="dropdown-item" data-action="click->quiz-reader#switchToQuestion">問題選択</button>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-5">
      <h2 class="title is-4">History</h2>
      <div class="box">
        <p>1</p>
        <p class="mt-1">銀塩カメラにデジタルカメラが取って代わった例のように...</p>
        <p class="mt-1 has-text-weight-bold">破壊的イノベーション</p>
      </div>
      <div class="box">
        <p>1</p>
        <p class="mt-1">銀塩カメラにデジタルカメラが取って代わった例のように...</p>
        <p class="mt-1 has-text-weight-bold">破壊的イノベーション</p>
      </div>
      <div class="box">
        <p>1</p>
        <p class="mt-1">銀塩カメラにデジタルカメラが取って代わった例のように...</p>
        <p class="mt-1 has-text-weight-bold">破壊的イノベーション</p>
      </div>
      <div class="box">
        <p>1</p>
        <p class="mt-1">銀塩カメラにデジタルカメラが取って代わった例のように...</p>
        <p class="mt-1 has-text-weight-bold">破壊的イノベーション</p>
      </div>
    </div>
  </div>
</div>
