<%# locals: (scores:, score_operation:) %>
<div class="columns-2">
  <div id="match-scorelist" class="match-scorelist-column1">
    <%= render partial: "scoreboard/hayabo/show", locals: { scores:, score_operation: } %>
  </div>
  <div id="question"></div>
</div>
