<div class="container">
  <div class="section">
    <div class="content">
      <p class="has-text-centered">
        <%= @message %>
      </p>
      <p class="has-text-centered">
        <%= link_to "ログアウト", session_path, data: { turbo_method: :delete }, class: "button is-danger" %>
      </p>
    </div>
  </div>
</div>
