<%# locals: (ranks:) %>
<div class="match-scorelist-column2-row6">
  <% ranks.each do |rank| %>
    <div class="round2-announcement-player player-frame--incoming-animation"
        id="round2-player-<%= rank %>">
      <div class="player__rank"><%= rank %></div>
      <div class="player__name"></div>
    </div>
  <% end %>
</div>
