<div class="columns-2">
  <div class="match-scorelist-column1">
    <% 1.upto(7) do |rank|%>
      <div class="paper-seed-player" id="paper-seed-player-<%= rank %>">
        <div class="player__rank"><%= rank %></div>
        <div class="player__name"></div>
        <div class="paper-seed-player__score"></div>
      </div>
    <% end %>
  </div>
  <div id="question"></div>
</div>
