<div class="announcement-container">
  <div class="announcement-clock" data-controller="clock" data-clock-target="clock"></div>
  <%= simple_format(text, { class: "announcement-text" }, wrapper_tag: "div") %>
</div>
